DISCORD_TOKEN=
RUST_LOG=info,wotoha_debug=info
WOTOHA_LOG_DIR=/var/log/wotoha
WOTOHA_LOG_FILE=wotoha-app.runtime.log
WOTOHA_LOG_ANSI=false
WOTOHA_DEFAULT_VOLUME=0.10
WOTOHA_MAX_QUEUE_LEN=512
WOTOHA_MAX_PENDING_ENQUEUES=64
