WOTOHA_UPDATE_REPOSITORY=NcaMoq/wotoha-rs
WOTOHA_UPDATE_GITHUB_TOKEN=
WOTOHA_UPDATE_YTDLP=true
WOTOHA_YTDLP_UPDATE_REPOSITORY=yt-dlp/yt-dlp-nightly-builds
WOTOHA_YTDLP_CANARY_URLS='https://www.youtube.com/watch?v=H7HmzwI67ec https://www.youtube.com/watch?v=jNQXAC9IVRw'
